.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  min-width: 100%;
  color: #202020;
  gap: 20px;
  height: 10%;
}

.navbar-title {
  font-weight: 400;
  text-decoration: none;
}

.navbar-home {
  width: 66%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.navbar-buttons {
  width: 34%;
  color: #797979;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-navbar-icon {
  width: 32px;
  height: 32px;
}
