.record-container {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.record-input-container {
  display: flex;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #26232b;
  transition-duration: 0.5s;
}

.record-input-container:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.recorder-icon {
  color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
}

.recorder-icon:hover {
  color: rgba(255, 255, 255, 1);
}

.MuiInputBase-input {
  color: white;
  font-size: 22px;
}
.MuiTextField-root {
  border-radius: 30px;
}
.MuiInputBase-root {
  border-radius: 30px;
}

@media only screen and (max-device-width: 480px) {
  .record-container {
    justify-content: center;
  }
  .record-textfield {
    width: 80%;
  }
  .recorder-icon {
    width: 36px;
    height: 36px;
  }
}
