.record-container {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.outlined-input {
  width: 100%;
  transition-duration: 0.5s;
  padding: 5px;
}

.record-input {
  border-radius: 10px;
  font-size: 18px;
}

.record-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.icon-button {
  width: 36px;
  height: 36px;
}

.icon-button-mobile {
  width: 24px;
  height: 24px;
}

.send-button {
  transform: rotate(-45deg);
  margin: 0 0 10px 10px;
}

.record-icon-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-device-width: 480px) {
  .record-container {
    justify-content: center;
  }
  .record-textfield {
    width: 80%;
  }
  .recorder-icon {
    width: 36px;
    height: 36px;
  }
}
