.chat-nav-container {
  min-width: 300px;
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  border-right: 1px solid #c8c8c8;
  overflow-y: scroll;
}

.chat-nav-container-mobile > :not(:first-child) {
}

.chat-nav-container-mobile {
  max-width: 100%;
  width: 100%;
  padding: 5%;
  height: 100%;
}

.chat-navigation-button {
  width: 100%;
  color: #797979;
}

.chat-nav-item {
  width: 100%;
  padding: 3%;
  gap: 1%;
  transition-duration: 0.2s;
  background: none;
  border: none;
  text-align: left;
  border-radius: 1rem;
}

.chat-nav-item:hover {
  background-color: #6573c32b;
  cursor: pointer;
}

.nav-item-action-button {
  transition-duration: 0.2s;
}
