.chat-nav-container {
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  border-right: 1px solid #c8c8c8;
  overflow-y: scroll;
}

.chat-nav-container-mobile {
  max-width: 100%;
  width: 100%;
  padding: 5%;
  height: 100%;
}

.chat-navigation-button {
  width: 100%;
  color: #797979;
  border-radius: 10px;
}

.chat-nav-item {
  width: 100%;
  padding: 3%;
  margin : 1rem 0;
  transition-duration: 0.2s;
  background: none;
  border: none;
  text-align: left;
  border-radius: 1.5rem;
}

.chat-nav-item:hover {
  background-color: #5B6D924D;
  cursor: pointer;
}

#chat-nav-item-first {
  background-color: #5B6D924D;
}

.nav-item-action-button {
  transition-duration: 0.2s;
}

.nav-sidebar-header{
  justify-content: space-between;
  align-items: center;
  padding : 1rem;
  margin-bottom : 1rem;
  border-bottom: 1px solid #c8c8c8;
}
